.buttons {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 30%;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}
